.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#ff589b 0%, #ff136f 100%);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(to right,orange,yellow);
}
.cat2{
    background-image: linear-gradient(to left,teal,aquamarine);
}
.cat3{
    background-image: linear-gradient(to left,darkturquoise,lightblue);;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
